:root{
  --white-color:#fff;
  --green-color:#33d1cc;
  --pink-color:rgb(226, 43, 98);
  --blue-color:blue;
  --section-color: #eff7fa;
  --yellow-color:yellow;
  
}
body{
    font-family: 'Roboto', sans-serif;
  
}
.main-btn{
   background-color: var(--pink-color);
  color: white;
  padding: -8.5rem 1rem;
  margin: 30px;
}
.main-btn:hover{
    color:white;
}
.main-title::after{
  content:'';
  width:120px;
  height: 2px;
  background-color: rgb(51, 159, 209);
  position:absolute;
  bottom:-20px;
  left:50%;
  transform:translateX(-50%); 
}
/* start navbar */
.navbar
{
    background-color: bisque;
}

.navbar .navbar-nav .nav-link{
    color:rgb(165, 126, 42);
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: var(--green-color);
}

 .navbar .search {
    border-left: 1px solid var(--green-color);

  }
   .navbar .search svg {
    color: var(--green-color);
  }
  
  .navbar .navbar-toggler{
    color: rgb(165, 126, 42);
    font-size: 25px;
    border-color:rgb(165, 126, 42);
  }

  .navbar .navbar-toggler:focus {
    box-shadow: none;
  }

  .navbar .navbar-toggler[aria-expanded="true"] {
    border-color: var(--green-color);
  }
/* End navbar */

.image{

    width: 30%;
    position: relative;
    right: 4px;
    top: 0px;
}

/* start loading */
.landing{
    background-color:  bisque;
 color:rgb(165, 126, 42);  
    min-height: calc(100vh - 72px);
}
/* End loading */
/* start feature */
.features .icon-holder{
  height: 200px; 
} 
.features .icon-holder svg{
  left:50%;
  transform:translateX(-50%);
}

 .features .icon-holder .number{
  font-size: 12rem;
  color:var(--section-color);
 }
 .features .icon-holder .icon {
  color: var(--green-color);
}

.features .feat h4 {
  color:rgb(165, 126, 42) ;
}
/* End feature */
/* start our-worrk */
.our-work {
  background-color: var(--section-color);
}
.our-work ul .active {
  background-color:var(--pink-color);
  color: rgb(165, 126, 42);
}
.our-work ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.our-work ul li:not(.active):hover {
  color: var(--pink-color);
}

.our-work .box {
  padding: 5px;
  overflow: hidden;
  position: relative;
}
.our-work .box::before {
  content: attr(data-work);
  position: absolute;
  background-color: rgb(51 209 204 / 76%);
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  transition: 0.3s;
  font-size: 1.5rem;
  transform: translateX(calc(-100% - 5px));
}
.our-work .box:hover::before {
  transform: translateX(0);
}
/* End our-work */
/* Start Stuff */
.stuff .description {
  max-width: 500px;
}
/* End Stuff */

  .img-fluid2 {
    position: relative;
     right: 58px;
    top: -54px;
}

/* Start Subscribe */
.subscribe {
    background-color:  rgb(196, 255, 228);
}
.subscribe input[type="text"] {
  border: none;
  border-bottom: 1px solid gray;
}
.subscribe input[type="text"]:focus {
  outline: none;
  
}
.subscribe ::placeholder {
  color: rgb(165, 126, 42);
}
.subscribe input[type="submit"] {
  background-color: var(--pink-color);
  color:white;

}
/* End Subscribe */
/* Start Footer */
.footer {
  background-color: pink;
}

.footer .text{
  color:rgb(165, 126, 42);
}

.footer .copyright > span {
  color: var(--green-color);
}
.footer .copyright div span {
  color: var(--pink-color);
}
.footer .contact ul svg {
  width: 20px;
  height: 20px;
}
.footer .facebook {
  background-color: #1877f2;
}
.footer .twitter {
  background-color: #1da1f2;
}
.footer .linkedin {
  background-color: #0077b5;
}
.footer .youtube {
  background-color: #ff0000;
}
/* End Footer */
.logo{
 position: relative;
  height:  152px;
  width: 121px;
    top: -54px;
}
